/*Login and signup*/

.tab-button {
	background-color: #FFffff;
	font-size: 18px;
	border: 1px solid #ccc;
}

.tab-button.active {
	background-color: #337ab7;
	color: white;
}

.login-form-title {
	font-size:30px;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}

.register-form-title {
	font-size:30px;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}

.login-signup-container {
	margin-top: 7%;
	padding: 0px;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.login-signup-nav-btn-group {
	margin: 0px 0px;
	margin-bottom: 10px;
}

.login-form-container,
.register-form-container {
	margin-top: 10px;
}

.login-signup-nav-btn-group .btn {
	width : 100%;
	height:45px;
	border-radius: 0px;
}
