.login-requests-list-item {
    border: 1px solid #ccc;
    /*border-left-width: 7px;*/
    padding:10px;
    margin-bottom: 20px;
}

.login-requests-container {
    margin-top: 30px;
}

.login-requests-list-item-field-title {
    font-weight:bold;
}

.login-requests-list-item-details {
    margin-top:6px
}

.login-requests-list-item-header {
    border-bottom:1px solid #ccc;
}

.login-requests-list-item-field {
    padding: 6px 10px;
}
.login-requests-btn-group button {
    margin: 0px 5px 10px 5px;
}

.login-requests-list-item:hover {
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}