.login-requests-list-item {
    border: 1px solid #ccc;
    /*border-left-width: 7px;*/
    padding:10px;
}

.login-requests-list-item-field-title {
    font-weight:bold;
}

.login-requests-list-item-details {
    margin-top:6px
}

.login-requests-list-item-header {
    border-bottom:1px solid #ccc;
}

.login-requests-list-item-field {
    padding: 6px 10px;
}
.login-requests-btn-group button {
    margin: 0px 5px 10px 5px;
}