body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

/*Dashboard*/
.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar {
  border-radius: 0px;
}

.user-profile-information .row {
	margin: 10px 0px;
	font-size: 16px;
}

.user-profile-information {
	margin-top: 20px;
}

.user-profile-manage-btn-group {
	margin-top: 20px;
}

.edit-profile-name {
	font-size: 45px;
    margin-left: 250px;
    margin-top: -55px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.group-result {
	font-weight:700;
}

 .job-info-field-title {
 	font-weight:700;
 }

.job-info-field-set {
	padding:10px;
}

.jobs-list-container {
  margin-top:40px;
}

.jobs-list-container .container {
    border: 1px solid #ddd;
    padding:20px;
}

.badge {
  margin-left: 2px;
}

.user-icon {
  margin-right : 6px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size {
  font-size: 87px;
}

.job-container {
   border: 1px solid #959393;
  padding:15px 15px 0px 15px;
  background-color:#ccc
}
.job-complete-details{
  height:250px;
  padding:8px;
  background-color: #fff;
  overflow-y:scroll;
}

.job-action-buttons {
  margin:10px;
}
.job-action-buttons{
  text-align:right;
}
.job-action-buttons button{
  margin:0px 3px;
}

.job-header {
    cursor: pointer;
}
.toggle-icon {
  margin-top:20px;
  width:15px;
  height:15px;
  font-size:20px;
  color:#757575;
  margin-right:20px;
  text-align:center;
}
.job-container:hover, .job-list-item:hover {
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.chosen-container { width: 100% !important; }



.register-form-container .form-group, #add_posts .form-group{
	margin-right: 0px;
	margin-left: 0px;
}

.form-horizontal .form-group {
    margin-right: 0px;
	margin-left: 0px;
}

/*Manager Dashboard*/
#choose-employees-trigger {
    margin-right: 10px;
}

/* Employee form*/

.btn-file {
	width: 100%;
	text-align: left;
}

/*Colors*/
body {
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    /*background-color: #8cb2c4;*/
}

.login-submit, .login-submit:active, .login-submit:hover, .login-submit:focus,.login-submit:active:focus,
.btn-primary, .btn-primary:active, .btn-primary:hover, .btn-primary:focus,.btn-primary:active:focus{
    /*background-color: #466675;*/
    /*background-color: #000000;*/
    border-color: rgba(0, 0, 0, 1);
    background-color: rgba(87, 86, 86, 0.84);
}

.form-control:focus {
    border-color: #5c5b5c;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(85, 83, 84);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(93, 94, 94);
}

.tab-button {
    /*border: 1px solid #ccc;*/
    color: #000000;
    /*background-color: #6a8d9d;*/
    border: none;
    /*background-color: #337ab7;*/
}
.tab-button.active {
    /*background-color: #6a8d9d;*/
    /*background-color: #337ab7;*/
    /*background-color: #000000;*/
    color: #000000;
    background-color: rgba(87, 86, 86, 0);
}
.login-signup-container {
    /*background-color: #6a8d9d;*/
    background-color: rgba(250, 250, 250, 0.84);
}

.login-requests-list-item, .job-list-item {
    background-color: rgba(255, 255, 255, 0.85);
}
.job-list-item .panel-heading {
    background-color: rgba(92, 92, 92, 0.2);
}

.profile-display {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85);
}

.text-info {
    color: #FFF;
}
