/*Dashboard*/
.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar {
  border-radius: 0px;
}

.jobs-list-container {
  margin-top:40px;
}

.jobs-list-container .container {
    border: 1px solid #ddd;
    padding:20px;
}

.badge {
  margin-left: 2px;
}

.user-icon {
  margin-right : 6px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size {
  font-size: 87px;
}

.job-container {
  border: 1px solid #959393;
  padding:15px 15px 0px 15px;
  background-color:#f0f0f0
}
.job-complete-details{
  height:250px;
  padding:8px;
  background-color: #fff;
  overflow-y:scroll;
}

.job-action-buttons {
  margin:10px;
}
.job-action-buttons{
  text-align:right;
}
.job-action-buttons button{
  margin:0px 3px;
}

.job-header {
    cursor: pointer;
}
.toggle-icon {
  margin-top:20px;
  width:15px;
  height:15px;
  font-size:20px;
  color:#757575;
  margin-right:20px;
  text-align:center;
}
.job-container:hover {
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.chosen-container { width: 100% !important; }

/*Login and signup*/

.login-form-title {
	font-size:30px;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}

.register-form-title {
	font-size:30px;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}

.login-signup-container {
  margin-top: 7%;
  padding: 0px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.login-signup-nav-btn-group {
  margin: 0px 0px;
  margin-bottom: 10px;
}

.login-form-container,
.register-form-container {
  margin-top: 10px;
}

.login-signup-nav-btn-group .btn {
  width : 100%;
  height:45px;
  border-radius: 0px;
}
