body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

/*Dashboard*/
.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar {
  border-radius: 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.group-result {
	font-weight:700;
}

 .job-info-field-title {
 	font-weight:700;
 }

.job-info-field-set {
	padding:10px;
}

.jobs-list-container {
  margin-top:40px;
}

.jobs-list-container .container {
    border: 1px solid #ddd;
    padding:20px;
}

.badge {
  margin-left: 2px;
}

.user-icon {
  margin-right : 6px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size {
  font-size: 87px;
}

.job-container {
   border: 1px solid #959393;
  padding:15px 15px 0px 15px;
  background-color:#ccc
}
.job-complete-details{
  height:250px;
  padding:8px;
  background-color: #fff;
  overflow-y:scroll;
}

.job-action-buttons {
  margin:10px;
}
.job-action-buttons{
  text-align:right;
}
.job-action-buttons button{
  margin:0px 3px;
}

.job-header {
    cursor: pointer;
}
.toggle-icon {
  margin-top:20px;
  width:15px;
  height:15px;
  font-size:20px;
  color:#757575;
  margin-right:20px;
  text-align:center;
}
.job-container:hover, .job-list-item:hover {
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.chosen-container { width: 100% !important; }

